body{
    background-color: #685a75a5;
    font-family: 'Montserrat', sans-serif;
}

h1{
    margin: 0;
    padding: 0;
    text-align: center;
}

.one{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    

}

#b1{
    width: auto;
    background-color: #c2c7bb;
    border-radius: 20px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    height: auto;


}

#units_no{
    padding-left: 5px;
    width: 35px;
    height: 17px;
    background-color: blanchedalmond;
}

#units_rate{
    padding-left: 5px;
    width: 35px;
    height: 17px;
    background-color: blanchedalmond;
}


.p2{
    text-align: center;
    font-size: 20px;
}
