body
{
    background-color: #00DDFF;
    font-family: 'Montserrat', sans-serif;
}
.main-div
{
    width:1000px;
    height: 700px;

    background-color: #a0d2ebFF;
    border-radius: 25px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;

    border-style: solid;
    border-color:#a0d2ebFF;
    margin: auto;
}

.heading
{
    text-align: center;
}
.input
{
    width:500px;
    border-radius: 10px;
    border:none;
    padding-left: 10px;
    height: 25px;
}
#inputJS
{
    width:500px;
    border-radius: 10px;
    border:none;
    padding-left: 10px;
    height: 25px;
    margin-bottom: 10px;
}
.button
{
    background-color: white;
    width:125px;
    height: 27px;
    border-radius: 10px;
    border:none;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.button:hover
{
    box-shadow: 1px 1px 1px grey;

}
input
{
    background-color: solid white;
    color:black;
}
input:hover
{
    box-shadow: 1px 1px 1px grey;
}